/CodigoJava(NetBeans)/NetbeansServlet/nbproject/private/
/NetbeansServlet/nbproject/private/
/CodigoJava(NetBeans)/nbproject/private/
/CodigoJava(NetBeans)/build/
/CodigoJava(NetBeans)/dist/
/CodigoJava(NetBeans)/codigoNetbeans/nbproject/private/
/CodigoJava(NetBeans)/codigoNetbeans/build/
/CodigoJava(NetBeans)/codigoNetbeans/dist/
/CodigoJava(NetBeans)/bol2/nbproject/private/
/CodigoJava(NetBeans)/bol2/build/
/CodigoJava(NetBeans)/bol2/dist/
/CodigoJava(NetBeans)/ex1MigCasgar/nbproject/private/
/CodigoJava(NetBeans)/ex2019_2_migcasgar/nbproject/private/
/CodigoJava(NetBeans)/ex2019_1_migcasgar/nbproject/private/
/CodigoJava(NetBeans)/ex2019_1_migcasgar/build/
/CodigoJava(NetBeans)/ex2019_2_migcasgar/build/
/CodigoJava(NetBeans)/TallerMecanico/nbproject/private/