<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>numeroAleatorio</servlet-name>
        <servlet-class>ej3.numeroAleatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>segundoGrado</servlet-name>
        <servlet-class>ej4.segundoGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>texMayus</servlet-name>
        <servlet-class>ej2.texMayus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verParametros</servlet-name>
        <servlet-class>ej5.verParametros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejX1</servlet-name>
        <servlet-class>ejX1.ejX1_vista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejX1_controlador</servlet-name>
        <servlet-class>ejX1.ejX1_controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toFile</servlet-name>
        <servlet-class>ej6.toFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toSee</servlet-name>
        <servlet-class>ej6.toSee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>numeroAleatorio</servlet-name>
        <url-pattern>/numeroAleatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>segundoGrado</servlet-name>
        <url-pattern>/segundoGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>texMayus</servlet-name>
        <url-pattern>/texMayus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verParametros</servlet-name>
        <url-pattern>/verParametros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejX1</servlet-name>
        <url-pattern>/ejX1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejX1_controlador</servlet-name>
        <url-pattern>/ejX1_controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toFile</servlet-name>
        <url-pattern>/toFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toSee</servlet-name>
        <url-pattern>/toSee</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
